<!DOCTYPE html>
<html>
<head>
  <title>Random Skin</title>
</head>
<body>
  <h1>Random Skin</h1>
  <p><strong>ID:</strong> <%= skin.id %></p>
  <p><strong>Name:</strong> <%= skin.name %></p>
  <p><strong>Rarity:</strong> <%= skin.rarity %></p>
  <img src="<%= skin.image %>" alt="<%= skin.name %>">
  <p><strong>Weapon:</strong> <%= skin.weapon %></p>
</body>
</html>
